@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1b21;
  color: #fff;
  font-family: 'Prompt', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.kontol{
  background-color: red;
}

.tes{
  background-color: blue;
}

@tailwind utilities;